* {
    box-sizing: border-box;
}

body {
    background-color: #0A090A;
    background-image: url(../img/main-bg.jpg);
    /* background: linear-gradient(180deg, rgba(9, 9, 16, 0) 52.08%, #0A090A 100%), url(../img/main-bg.jpg); */
    color: #fff;
    font-family: 'Roboto', sans-serif;    
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

button, .header__bookmark, .main-content__bookmark {
    cursor: pointer;
}

/*----------header----------*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    margin-bottom: 38%;
}

.header__logo {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.header__search {
    display: flex;
    align-items: center;
    flex: 0.8;
}

.header__search-input {
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding: 12px 18px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: #AEAEAE;
    outline: none;
    flex: 1;
}

/* задаем цвет для placeholder */
::-webkit-input-placeholder { /* Chrome */
    color: #AEAEAE;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #AEAEAE;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #AEAEAE;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color:  #AEAEAE;
    opacity: 1;
  }

.header__search-button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 10px 15px 6px;
}

.header__user {
    display: flex;
    align-items: center;
}

.header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    object-fit: cover;
}

/*----------main-top----------*/

.main-top__title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 7px;
}

.main-top__subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 39px;
    animation-delay: .5s;
}

.main-top__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
}

.main-top__info a {
    color: #fff;
    text-decoration: none;
}

.info-left {
    display: flex;
    align-items: center;
}

.main-top__film {
    color: #333333;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
}

.main-top__date {
    margin-right: 33px;
}

.main-top__trailer, .main-top__more {
    display: flex;
    align-items: center;
}

.main-top__trailer:before, .main-top__more:after {
    content: "";
    width: 30px;
    height: 30px;     
    background-image: url(../img/play.svg); 
    background-repeat: no-repeat;
    background-size: contain;  
}

.main-top__trailer:before {  
    margin-right: 15px;
}

.main-top__more:after {     
    transform: rotate(90deg);
    margin-left: 15px;
}

/*----------main-content----------*/

.main-content {
    background: #FFF;
    border-radius: 3px;
    color: #000;
    padding: 43px 50px 83px;
    margin-top: 108px;
    margin-bottom: 50px;
    display: flex;
    animation-delay: 1s;
    animation-duration: 1s;
}

.main-content__left {
    margin-right: 45px;
}

.main-content__poster {
    display: block;
    margin-top: -77px;
    margin-bottom: 20px;
    width: 181px;
}

.main-content__button {
    background: #FF8F27;
    padding: 10px 43px;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    margin-bottom: 40px;
}

.main-content__button:hover {
    background-color: rgb(245, 210, 8);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
}

.main-content__roles {
    padding-left: 15px;
    font-size: 16px;
    line-height: 150%;
}

.main-content__actors-title {
    font-weight: 900;
    margin-bottom: 10px;
}

.actors-list-item {
    list-style-type: none;
    text-decoration: underline;
}



.main-content__right {
    width: 100%;
}

.main-content__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.main-content__navigation-item {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    margin-right: 40px;
}

.navigation-item-active {
    color: #FF8F27;
}

.main-content__info {
    display: flex;
    justify-content: space-between;
}

/*----------for toggle classes----------*/

.main-content__about {
    display: none;
}

.info-active {
    display: block;
    margin-right: 78px;
    font-size: 16px;
    line-height: 140%;
}

.actors-active {
    margin-right: 5px;
    display: flex;
    flex-wrap: wrap;
}

.main-content__actors-card {
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 140%;
}

.actors-img {
    margin-bottom: 10px;
}

.actors-name {
    margin-bottom: 5px;
    font-weight: 900;
}

/*------------------------------*/

.text, .text-list {
    margin-bottom: 20px;
}

.text-list {
    padding-left: 20px;
}

.text-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 900;
}

.main-content__subscribe {
    font-weight: 900;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 14px;
}

.main-content__advertising {
    max-width: 220px;
}

.main-content__form {
    margin-bottom: 48px;
    display: flex;
    position: relative;
}

.main-content__form-email {
    background: rgba(241, 241, 241, 0.5);
    border-radius: 5px;
    padding: 12px 58px 12px 15px;
    border: none;
    font-size: 14px;
    line-height: 16px;
    color: #9B9B9B;
    outline: none; 
    width: 100%;
}

.main-content__form-email::placeholder {
    color: #9B9B9B;
}

.main-content__form-button {
    border-radius: 0 5px 5px 0;
    border: none;
    outline: none;
    width: 43px;
    height: 40px;
    background-image: url(../img/button-check.svg);
    position: absolute;
    right: 0;
}

/*----------adaptive----------*/

@media(max-width: 1300px) {
    .container {
        max-width: 90%;
    }
    .main-content__navigation-item {
        margin-right: 30px;
    }
    .main-content__actors-card {
        margin-right: 0;
        flex-basis: 50%;
    }
}

@media(max-width: 1230px) {
    .header {
        margin-bottom: 40%;
    }
    .main-content__navigation {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .main-content__navigation-item, .main-content__bookmark {
        margin-bottom: 10px;
    }
    .main-content__navigation-item {
        flex-basis: 20%;
    }
    .main-content {
        padding: 4% 4% 10% 4%;
    }
    .main-content__left {
        margin-right: 5%;
    }
    .main-content__poster {
        margin-top: -40%;
    }
}

@media(max-width: 1050px) {
    .header {
        margin-bottom: 50%;
    }
    .main-content__info {
        flex-wrap: wrap;
    }
    .main-content__about {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .main-content__navigation-item {
        font-size: 16px;
    }
    .text, .text-list, .actors-list-item {
        font-size: 14px;
    }
    .main-content__form {
        margin-bottom: 30px
    }
}

@media(max-width: 900px) {
    .header {
        margin-bottom: 60%;
    }
}

@media(max-width: 768px) {
    .header {
        margin-bottom: 70%;
    }
    .main-top__more {
        display: none;
    }
    .main-content__navigation-item {
        flex-basis: 35%;
    }
    .main-content__poster {
        margin-top: -30%;
    }
    .main-content__actors-card {
        flex-basis: 51%;
    }
}

@media(max-width: 670px) {
    .header {
        margin-bottom: 80%;
    }
    .container {
        max-width: 95%;
    }
}

@media(max-width: 578px) {
    .header {
        flex-wrap: wrap;
    }
    .header__search {
        order: 3;
        flex-basis: 100%;
        margin-top: 4%;
    }
    .main-content {
        flex-wrap: wrap;
        margin-bottom: 25px;
        margin-top: 69px;
    }
    .main-content__poster {
        margin-top: -50px;
    }
    .main-content__roles {
        display: none;
    }
    .main-content__navigation {
       margin-left: 10px;
    }
    .main-content__navigation-item {
        margin-right: 0;
        flex-basis: 25%;
    }
    .main-content__advertising {
       margin: 0 auto;
    }
    .main-content__left {
        margin: 0 auto;
    }
    .main-content__actors-card {
        padding: 0 10px;
        flex-basis: 50%;
    }
}

@media(max-width: 512px) {
    .header {
        padding-top: 25px;
        margin-bottom: 300px;
    }
    .info-left {
        flex-wrap: wrap;
    }
    .main-top__trailer {
        flex-basis: 100%;
        margin-top: 20px;
    }
    .main-content__navigation-item {
        flex-basis: 33%;
    }
    .main-content__poster {
        margin-bottom: 22px;
    }
    .main-content__button {
        margin-bottom: 21px;
    }
    .main-content__actors-card {
        flex-basis: auto;
        flex-direction: column;
        margin: 0 auto 30px;
    }
}

@media(max-width: 375px) {
    .main-content {
        padding: 0 20px 60px 20px;
    }
    .main-content__left {
        margin-right: 0;
        width: 100%;
    }
    .main-content__poster {
        width: 100%;
        margin: -50px auto 22px;
    }
    .main-content__button {
        width: 100%;
    }
    .main-content__navigation {
        margin-left: 5px;
     }
    .main-content__navigation-item {
        flex-basis: 100%;
    }
    .main-content__bookmark {
        display: none;
    }
}